
* {
  margin: 0;
  padding: 0;
}

.navbar {
  height: 80px;
  background-color: #2E3532;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style-type: none;
  color: white;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
  padding: 8px;
}

.center {
  text-align: center;
}

a:hover {
  background-color: #D2D4C8;
  color: black;
  transition: 1s;
}

a.active{
  background-color: #8AA2A9;
}
